beautifulsoup4==4.7.1
bs4==0.0.1
certifi==2019.3.9
chardet==3.0.4
coverage==4.5.3
Faker==1.0.5
idna==2.8
json-encoder==0.4.4
lxml==4.6.5
Pillow==8.3.2
proxy-requests==0.3.0
pytesseract==0.3.2
python-dateutil==2.8.0
pytz==2018.9
requests==2.21.0
selenium==3.141.0
singledispatch==3.4.0.3
six==1.12.0
sorte.py==0.0.6.dev1
soupsieve==1.9.1
sqlparse==0.5.0
text-unidecode==1.2
tqdm==4.38.0
urllib3==1.26.19